body, html{
height: 100%;
}

.all {
    width: 100%;
    height: 100%;
    background-color: #CCF;
}
.channels{
    float:left;
    width: 30%;
    background-color:beige;
}

.chat {
    float: right;
    width: 70%;
    height: 100%;
    background-color:azure;
    border:1px dotted;
}

.msgothrdiv{
    float:left;
    width: 40%;
    height: 100%;
    background-color:cornsilk;
}

.mymsgdiv{
    float: right;
    width: 40%;    
    height: 100%;
    background-color:floralwhite;
}

.messageRec, .messageSen {
    margin:2px 2px 2px 2px;
    padding: 2px 0px 2px 0px;
    width: 80%;
    left:10%;
    position: relative;
    
}

.messageRec {
    text-align: left;
    background-color:beige;
}

.messageSen{
    text-align: right;
    background-color:blanchedalmond;
}